<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.factorialsystems.msscpirateparrotproduct.repository.ProductVariantRepository">
    <resultMap id="pvResultMap" type="io.factorialsystems.msscpirateparrotproduct.model.ProductVariant">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="suspended" property="suspended" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="column_list">
        id, name, created_on, created_by, suspended
    </sql>

    <select id="findAll" resultMap="pvResultMap">
        select
        <include refid="column_list"/>
        from product_variant
    </select>

    <select id="findById" parameterType="java.lang.String" resultMap="pvResultMap">
        select
        <include refid="column_list"/>
        from product_variant
        where id = #{id}
    </select>

    <insert id="save" parameterType="io.factorialsystems.msscpirateparrotproduct.model.ProductVariant">
        insert into product_variant(name, created_by)
        values(#{name}, #{createdBy})
    </insert>

    <update id="update" parameterType="io.factorialsystems.msscpirateparrotproduct.model.ProductVariant">
        update product_variant
        <set>
            <if test="name != null">name=#{name},</if>
        </set>
        where id = #{id}
    </update>

    <update id="suspend" parameterType="java.lang.String">
        update product_variant set suspended = true
        where id = #{id}
    </update>

    <update id="unsuspend" parameterType="java.lang.String">
        update product_variant set suspended = false
        where id = #{id}
    </update>

    <select id="search" parameterType="java.lang.String" resultMap="pvResultMap">
        select
        <include refid="column_list"/>
        from product_variant
        where name like CONCAT(#{search}, '%')
    </select>

    <select id="findByName" parameterType="java.lang.String" resultMap="pvResultMap">
        select
        <include refid="column_list"/>
        from product_variant
        where name = #{name}
    </select>
</mapper>